* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #7fffd4;
  font-size: 14px;
  line-height: 22px;
  color: #0c0c0c;
  width: 100%;
}

.container {
  width: 800px;
  height: 1450px;
  display: flex;
  margin: 50px auto;
  background: #fff;
}

.left_col {
  width: 280px;
  height: 1450px;
  /* background: #000000; */
}

.left_col_1 {
  position: relative;
  width: 100%;
  height: 300px;
  /* background: #778899; */
  background: #f1b99c;
}

.left_col_2 {
  position: relative;
  width: 100%;
  height: 300px;
  /* background: #778899; */
  background: #f1b99c;
}

.left_col_3 {
  position: relative;
  width: 100%;
  height: 410px;
  background: #f1b99c;
  padding: 3px 0;
}

.left_col_4 {
  position: relative;
  width: 100%;
  height: 410px;
  /* top: 10px; */
  background: #f1b99c;
}
img {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 25px;
  left: 35px;
  border-radius: 50%;
}

.br {
  width: 100%;
  height: 8px;
  background: #d2691e;
}

.header {
  position: absolute;
  color: whitesmoke;
  top: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.header2 {
  left: 75px;
  color: #1f6421;
  top: 10px;
}

.links {
  position: absolute;
  color: #1f6421;
  text-align: center;
  vertical-align: middle;
  top: 100px;
  left: 76px;
  bottom: 50%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  height: 22px;
}

.header3 {
  left: 103px;
  color: #1f6421;
}

.header4 {
  top: 20px;
  left: 30px;
  color: #00008b;
}

.headerB {
  top: 5px;
  left: 30px;
  color: #00008b;
}

.headerA {
  left: 50px;
  top: 120px;
  left: 30px;
  color: #00008b;
}

.header5 {
  left: 30px;
  color: #00008b;
}

.header6 {
  left: 60px;
  color: #225565;
  font-size: 12px;
}

.header7 {
  left: 75px;
  top: 20px;
  color: #1f6421;
}

.below {
  top: 40px;
  left: 60px;
  color: #225565;
  font-size: 12px;
  font-weight: 500;
}

.name {
  position: absolute;
  color: #1f6421;
  top: 240px;
  left: 25px;
  font-weight: 700;
  font-size: 20px;
}

.date {
  position: absolute;
  top: 265px;
  left: 92px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
}

.address {
  position: absolute;
  color: #000000;
  top: 40px;
  left: 12px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.address1 {
  /* background-color: #7fffd4; */
  height: 138px;
  position: absolute;
  color: #000000;
  top: 134px;
  bottom: 50px;
  left: 12px;
  font-size: 12px;
  /* text-align: center; */
  font-weight: bold;
  font-style: italic;
}

.address2 {
  position: absolute;
  color: #0b0909;
  left: 8px;
  font-size: 15px;
  font-weight: bold;
}

.container .left_col .left_col_3 ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.skill {
  margin-bottom: 40px;
}

.progress_bar {
  width: 75%;
  left: 30px;
  margin: 0 5px;
  height: 28px;
  background: #ffffff;
  position: relative;
  top: 15px;
}

span {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 78%;
  background: #bc8f8f;
  font-size: 10px;
}

.align {
  position: absolute;
  left: 10px;
  color: white;
}

.right_col {
  width: 520px;
  height: 1450px;
  background-color: #d2691e;
}

.right_col_1 {
  position: relative;
  width: 100%;
  height: 300px;
  /* top: 0xp; */
  background: #f0f0f0;
  /* border-bottom-color: #d2691e !important; */
  /* border-bottom: solid;
  border-bottom-width: thick;
  border-bottom-style: outset; */
}

.right_col_5 {
  position: relative;
  width: 100%;
  height: 200px;
  top: 8px;
  background: #f0f0f0;
  /* border-bottom-color: #d2691e !important;
  border-bottom: solid;
  border-bottom-width: thick;
  border-bottom-style: outset; */
}
hr {
  height: 5px;
}

.right_col_2 {
  position: relative;
  width: 100%;
  height: 350px;
  top: 8px;
  background: #f0f0f0;
  /* border-bottom-color: #d2691e !important; */
  /* border-bottom: solid;
  border-bottom-width: thick;
  border-bottom-style: outset; */
}

.right_col_3 {
  position: relative;
  width: 100%;
  height: 280px;
  top: 16px;
  background: #f0f0f0;
  /* border-bottom-color: #d2691e !important;
  border-bottom: solid;
  border-bottom-width: thick;
  border-bottom-style: outset; */
}
.right_col_4 {
  position: relative;
  width: 100%;
  height: 289px;
  top: 17px;
  background: #f0f0f0;
}
.border_group {
  border-width: 3px;
  border-style: solid;
  width: 400px;
  height: 300px;
}
.profile {
  position: absolute;
  color: #757575;
  left: 30px;
  font-size: 12px;
  padding-right: 30px;
  text-indent: 30px;
}

.profile1 {
  top: 52px;
  color: black;
}

.profile2 {
  top: 234px;
  color: black;
}

.hobby1 {
  top: 30px;
  left: 5px;
  color: black;
}

.hobby2 {
  top: 50px;
  left: 5px;
  color: black;
}

.hobby3 {
  top: 70px;
  left: 5px;
  color: black;
}

.hobby4 {
  right: 100px;
  top: 150px;
  text-align: left;
  color: black;
}

.hobby5 {
  top: 90px;
  left: 5px;
  color: black;
}

.right_col_left1 {
  position: absolute;
  top: 60px;
  width: 35%;
  height: 280px;
  background: #f0f0f0;
}

.right_col_right1 {
  position: absolute;
  top: 60px;
  left: 183px;
  width: 65%;
  height: 280px;
  background: #f0f0f0;
}

.right_col_left2 {
  position: absolute;
  top: 60px;
  width: 20%;
  height: 200px;
  background: #f0f0f0;
}

.right_col_right2 {
  position: absolute;
  top: 60px;
  left: 105px;
  width: 80%;
  height: 200px;
  background: #f0f0f0;
}

.side {
  position: absolute;
  color: #757575;
  top: 2px;
  left: 60px;
  font-size: 12px;
  color: black;
}

.recent {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 100%;
  height: 230px;
  background: #f0f0f0;
}

@media (min-width: 500px) and (max-width: 700px) {
  /* #right_col_1 {
    flex-direction: column;
    font-size: 12px;
    width: 50%;
    height: 50px;
  }
  #right_col_2 {
    flex-direction: column;
    font-size: 12px;
    width: 40%;
    height: 50px;
  }
  #right_col_3 {
    flex-direction: column;
    font-size: 12px;
    width: 30%;
    height: 50px;
  }
  #right_col_4 {
    flex-direction: column;
    font-size: 12px;
    width: 20%;
    height: 50px;
  }
  #right_col_5 {
    flex-direction: column;
    font-size: 12px;
    width: 10%;
    height: 50px;
  } */
  #left_col {
    flex-direction: column;
    font-size: 12px;
    width: 40%;
    height: 60%;
  }
}

/* @media (min-width: 400px) and (max-width: 600px) {
  #left_col {
    flex-direction: column;
    font-size: 12px;
    width: 20%;
    height: 80%;
  }
} */
/* mobile */
@media only screen and (min-width: 46.1875em) {
}
/* tablet */
@media only screen and (min-width: 46.25em) and (min-width: 63.9375em) {
  /* .right_col {
    flex-direction: column-reverse;
  } */
  .profile1 {
    flex-direction: column-reverse;
  }
}
